<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <title>Angra Cidade Inclusiva</title>
    <link rel="shortcut icon" href="img/faviicon.ico" type="image/x-icon" />
</head>

<body>
    <section>
        <%- include ('frags/header.ejs') %>
            <div class="main">
                <br><br>
                <h2 class="h1text">Roteiros Acessiveis</h2>
                <br>
                <!--Loop seletor de cards-->
                <div class="container-fluid">
                    <div class="row" id="cardSpace">
                        <% for(let i=0; i<cards.length; i++) {%>
                            <%if (cards[i].tipo==3 && cards[i].stat==1){%>
                                <div class="col-lg-2" id="cardLocais">
                                    <h5 class="card-title">
                                        <strong><%= cards[i].nomeloc%></strong>
                                    </h5>
                                    <p class="card-text">
                                        <%= cards[i].descricao %>
                                    </p>
                                    <a href="#" class="btn btn-primary col-sm-4" id="btnCards">ver mais</a>

                                    <!-- seletor de selos -->
                                    <%if (cards[i].selo==1){%>
                                        <img class="seloCards" src="/img/Ouro.png" alt="...">
                                        <% } 
                        else if (cards[i].selo==2){%>
                                            <img class="seloCards" src="/img/Prata.png" alt="...">
                                            <% }
                            else if (cards[i].selo==3){%>
                                                <img class="seloCards" src="/img/Bronze.png" alt="...">
                                                <% } %>
                                </div>
                                <% } %>
                                    <% } %>
                    </div>
                </div>
                <br>
            </div>
    </section>
    <%- include ('frags/footer.ejs') %>
    <script src="js/bootstrap.js"></script>
    <%- include ('frags/darkMode.ejs') %>
    <%- include ('frags/vLibras.ejs') %>
</body>

</html>