<!-- ROTEIROS -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <title>Angra Cidade Inclusiva</title>
    <link rel="shortcut icon" href="img/faviicon.ico" type="image/x-icon" />
</head>

<body>
    <section>
        <%- include ('frags/header.ejs') %>
            <div class="main">

                <br>
                <h2 class="h1text">Locais Acessiveis</h2>
                <br>

                <div class="container-fluid">
                    <div class="row">
                        <% for(let i=0; i<cards.length; i++) {%>
                            <%if (cards[i].tipo==2){%>
                                <div class="col-lg-2" id="cardLocais">
                                    <h5 class="card-title">
                                        <%= cards[i].nome %>
                                    </h5>
                                    <p class="card-text">
                                        <%= cards[i].descricao %>
                                    </p>
                                    <p class="card-text">
                                        <%= cards[i].celo %>
                                    </p>
                                    <a href="#" class="btn btn-primary align-center col-sm-4" id="btnCards">ver mais</a>
                                </div>
                                <% } %>
                                    <% } %>
                    </div>

                    <br><br>

                    <%- include ('frags/footer.ejs') %>
                </div>
    </section>
    <script src="js/bootstrap.js"></script>
</body>

</html>