
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Requerente</th>
            <th scope="col">CNPJ</th>
            <th scope="col">Celular</th>
            <th scope="col">CEP</th>
            <th scope="col">N°</th>
            <th scope="col">data</th>
            <th scope="col">selo</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <% for(let i=0; i<pendentes.length; i++) {%>
            <form action="/cad/act" method="POST">
                <tr>
                    <th scope="row">
                       <%=pendentes[i].id%>
                    </th>
                    <td>
                        <%= pendentes[i].nomeloc %>
                    </td>
                    <td>
                        <%= pendentes[i].cnpj %>
                    </td>
                    <td>
                        <%= pendentes[i].numcel %>
                    </td>
                    <td>
                        <%= pendentes[i].cep %>
                    </td>
                    <td>
                        <%= pendentes[i].num %>
                    </td>
                    <td>
                        <%= pendentes[i].createdAt.toLocaleDateString('el-GR') %>
                    </td>
                    
                        <%if (pendentes[i].selo==0){%>
                            <td>
                                <div class="alert alert-danger mr-1"> Pendente</div> 
                            </td>
                        <% }else if (pendentes[i].selo==1){ %>
                            <td>
                                <div class="alert alert-warning mr-1">Ouro</div> 
                            </td>
                        <% }else if (pendentes[i].selo==2){ %>
                            <td>
                                <div class="alert alert-secondary mr-1">Prata</div> 
                            </td>
                        <% }else if (pendentes[i].selo==3){ %>
                            <td>
                                <div class="alert alert-primary mr-1">Bronze</div> 
                            </td>
                        <% } %> %>
                   
                    <td>
                        <select class="form-control" name="selo">
                            <option value="0">Escolha Selo</option>
                            <option value="1">Ouro</option>
                            <option value="2">Prata</option>
                            <option value="3">Bronze</option>
                        </select>

                    </td>
                    <td>
                        <input type="hidden" name="id" value="<%=pendentes[i].id%>">
                        <button type="submit" name="sent" value="2" class="btn btn-danger col-sm-3" id="btnForm">Negar</button>
                        <button type="submit" name="sent" value="1" class="btn btn-success col-sm-3" id="btnForm">Aceitar</button>
                        
                        <%if (user.eAdmin == 1){%>
                            <button type="submit" name="sent" value="3" class="btn btn-danger col-sm-3" id="btnForm">Deletar</button>
                        <% } %>
                    </td>
                    <%if (pendentes[i].stat==0){%>
                        <td>
                            <div class="alert alert-warning mr-1"> Pendente</div> 
                        </td>
                    <% }else if (pendentes[i].stat==1){ %>
                        <td>
                            <div class="alert alert-success mr-1"> Aceito</div> 
                        </td>
                    <% }else if (pendentes[i].stat==2){ %>
                        <td>
                            <div class="alert alert-danger mr-1"> Negado</div> 
                        </td>
                    <% } %> %>
                </tr>
            </form>
            <% } %>
    </tbody>
</table>